@config "./../../tailwind.config.js"

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

.google-map * {
  border-style: none;
}

@layer components {
  .card {
    background-image: radial-gradient(circle, #ffb500 -508%, #1e1e1e);
  }
}

@layer utilities {
  .card-border-gradiant {
    position: relative;
  }
  .card-border-gradiant::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(120deg, #8f8f27 30%, #582b12, #8f8f27);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .nextui-c-iWjDFM-hkKLfu-color-default {
    background: theme(colors.bginnersection) !important;
  }
  .swap-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #101010;
    border: none;
    padding: 10px;
    border-radius: 50%;
  }
  .skeleton {
    background-image: radial-gradient(circle, #ffb500 -508%, #1e1e1e);
  }
}
